.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.accordionContainer {
  min-width: 43rem;
  max-width: 71rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.accordionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--color-white);
  border-radius: 10px;

  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }
}
.description {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1rem;
  border: 1px solid var(--color-white);
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  line-height: 27px;
}

@keyframes scrollIn {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the accordion content */
.accordionContentWrapper {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-name: scrollIn;
  animation-fill-mode: both;
  transform-origin: top;
  opacity: 1;
}

/* Hide the content by default */
.accordionContentWrapper:not(.open) {
  overflow: hidden;
  opacity: 0;
}

/* Rotate the arrow icon for an open accordion */
.arrow.open {
  transform: rotate(180deg);
}
