.wrapper {
  display: flex;
  margin: 0 50px;
  gap: 40px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.cardsWrapper {
  margin-top: 18px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
