.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  cursor: pointer;

  .details {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.description {
  color: #d8d8d8;
  font-size: 12px;
  line-height: 18px;
}

.albumImage {
  width: 66px;
  height: 66px;
  border: 5 px solid #1d1d1d;
  border-radius: 10px;
}

.wrapper:hover {
  background-color: #1d1d1d;
}
