.wrapper {
  width: 100%;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  .details {
    display: flex;
    gap: 2px;
  }
}

.description {
  color: #d8d8d8;
  font-size: 12px;
  line-height: 18px;
}

.album_image {
  width: 66px;
  height: 100%;
  border: 5 px solid #1d1d1d;
  border-radius: 10px;
}
