.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}
.results {
  border: 1px solid var(--color-primary);
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 73px;
  z-index: 5;
  overflow-y: scroll;
  width: 722px;
  max-height: 451px;
  background-color: var(--color-black);
  scroll-behavior: smooth;
}
.results::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar */
}
.search {
  padding: 14px 20px;
  border-radius: 8px 0 0 8px;
  width: 502px;
  /* height: 100%; */
  border: 1px solid var(--color-black);
}

.searchButton {
  border-radius: 0 8px 8px 0;
  padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  border: none;
}
